

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> <img class="group-home-logo" style="width:80px" src="../img/white-trans-app-logo.png"> </a>
            </div>
            <style>
              .group-home-logo {
                position: absolute;
                top: -10px;
              }
            </style>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%=user.name%> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/"><i class="fa fa-fw fa-user"></i> My Profile </a>
                        </li>
                        <li>
                            <a href="/inbox"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="/recruit"><i class="fa fa-fw fa-envelope"></i> Recruit</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>


            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-bar-chart-o"></i> n e w s F e e d </a>
                    </li>
                    <li>
                        <a href="/groups/task"><i class="fa fa-fw fa-table"></i> t a s k L i s t </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-edit"></i> I n b o x </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-desktop"></i> t e a m M a k e r s  </a>
                    </li>
                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> J o b s </a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


  <div class="container-fluid">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small>It's Nice to See You!</small>
            </h1>
            <p><%=groups.content%></p>
        </div>
    </div>


    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Our Team</h2>
        </div><hr>
        <% if (groups.members.length === 0) { %>
          <h2 style="padding: 5px;"> You Don't Have any Team Members </h2>
        <% } else { %>
            <%  groups.members.forEach((oneMember) => { %>

        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="<%=theMember.userPhoto %>" alt="">
            <h3> <%= theMember.name %>
                <small> <%= theMember.about %> </small>
                <small> <%= theMember.skills %></small>
            </h3>
            <!-- <p>Member.content</p> -->
        </div>
          <%  }) %>
        <%  } %>
    </div>

</div>
</div>
