<% user.forEach((user) => { %>
<% posts.forEach((aPost) => { %>
     <!-- <h2><%= aPost.picName %></h2> -->
     <!-- <img style="width: 200px" src="<%= aPost.picPath %>"> -->
     <p><%= aPost.content %>
     <br>
     <!-- <a href="/posts/<%= aPost._id %>/addcomment">Comment</a> -->
     <br>

    <h3>Comments</h3>
     <% if(aPost.comments !== 'undefined') { %>
       <% aPost.comments.forEach((oneComment) => { %>
            <ul><li><h2><%= oneComment.imageName %></h2>
           <li><img style="width: 50px" src="<%= oneComment.imagePath %>"></li>
           <li><p><%= oneComment.content %></p></li> </ul>
       <% }); %>
    <% } %>
 <% }) %>
  <% }) %>
