


    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> <img class="group-home-logo" style="width:80px" src="../img/white-trans-app-logo.png"> </a>
            </div>
            <style>
              .group-home-logo {
                position: absolute;
                top: -10px;
              }
            </style>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b> Find Jobs </a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%=user.name%> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/"><i class="fa fa-fw fa-user"></i> My Profile </a>
                        </li>
                        <li>
                            <a href="/inbox"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="/recruit"><i class="fa fa-fw fa-envelope"></i> Recruit</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>


            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-bar-chart-o"></i> News Feed </a>
                    </li>
                    <li>
                        <a href="/groups/task"><i class="fa fa-fw fa-table"></i> Task List </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-edit"></i> Messenger </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-desktop"></i> Jobs </a>
                    </li>
                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Forms </a>
                    </li>
                    <!-- <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li> -->

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

<style>
  #join-team {
    /*border: 1px solid black;*/
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 30px;
  }
</style>
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">

                        <form method="post" action="/groups/<%= groups._id %>/members">
                          <button type="submit" name="button">j o i n + </button>
                        </form>
                        
                        <h1 class="page-header">
                        <span> <img class="groupPage-logo" width="50px" height="50px" src="../img/logo.jpg"> </span>  <span class="group-name"> <%= groups.groupTitle %> </span> <small style="color: #d1d1d1">Dashboard</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>You have no new messages. </strong>
                            <!-- Click  <a href="" class="alert-link"> here </a> to view your messages. -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-top">
                            <div class="panel-heading">
                                <div class="row">
                                  <div class="col-xs-12">
                                   <img src="../img/messenger.png">
                                        <div class="panel-text"> m e s s e n g e r</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-top">
                            <div class="panel-heading">
                                <div class="row">
                                  <a href="/groups/task">
                                    <div class="col-xs-12">
                                       <img src="../img/new-task.png">
                                       <div class="panel-text "> n e w   t a s k s </div>
                                    </div>
                                  </a>
                                </div>
                            </div>
                            <!-- <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-top">
                            <div class="panel-heading">
                                <div class="row">
                                  <div class="col-xs-12">
                                   <img src="../img/user.png">
                                        <div class="huge"></div>
                                        <div class="panel-text">o u r  m a k er s </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-top">
                            <div class="panel-heading">
                                <div class="row">
                                  <div class="col-xs-12">
                                   <img src="../img/task.png">
                                        <div class="panel-text">j o b s</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <a href="#">
                                <div class="panel-footer view-details">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a> -->
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-sm-8">
                        <div class="panel panel-default myBox">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> News Feed </h3>
                                <span class="panel-post"> <a data-target="#postModal" data-toggle="modal" > + </a> </span>
                            </div>

                            <% if (groups.posts.length === 0) { %>
                              <h2 style="padding: 5px;"> You Don't Have any Posts </h2>

                            <% } else { %>


                            <div class="panel-body">
                                <%  groups.posts.forEach((onePost) => { %>
                                  <span> <img class="newsFeed-posts" src="<%= theAuthor.userPhoto %>"></span>
                             <div class="dialogbox">
                                    <div class="body">
                                      <span class="tip tip-left"></span>
                                      <span><div class="message">
                                       <%= onePost.content %>
                                      </div>
                                    </div></span>
                                  </div>
                                      <%  }) %>
                                </div>

                          <%    } %>




                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
<style >
.myBox {

height: 500px;
overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid #b8babc;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #b8babc;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #b8babc;
}

  .newsFeed-posts {
    border: 2px solid #b8babc;
    border-radius: 100%;
    width: 50px;
    box-shadow: 5px 5px 10px #888888
  }
</style>


                  </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->








    <!-- Modal -->
    <div id="postModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Feed Modal content-->
          <form method="post" action="/groups/<%= groups._id %>/post">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Post</h4>
          </div>
          <div class="modal-body">


            <label for="name-input"> Post:  </label>
            <input  id="name-input" type="text" name="postComment">
            <br>
            <button type="submit"> Submit </button>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>

      </div>
    </div>
