<% if (groups.length === 0) { %>

  <h2> You Don't Have Groups Yet </h2>

<% } else { %>

  <h2> Your Groups </h2>

  <% if (successMessage.length > 0) { %>
    <div class="success"> <%= successMessage %> </div>
  <% } %>

  <ul class="groupList">
    <% groups.forEach((oneGroup) => { %>
      <li class="groupContent">
        <a href="/groups/<%= oneGroup._id %>"><img class="groupCover" style="width: 50px" src="<%= oneGroup.groupPhoto %>"></a>
        <a href="/groups/<%= oneGroup._id %>"><h3> <%= oneGroup.groupTitle %> </h3></a>
        <!-- <p> <%= oneGroup.content %> </p> -->
      </li>
    <% }) %>
  </ul>

<% } %>

<a href="/groups/new">
  Create a Group
</a>
