<!--
<div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div>
          <div class="portfolio-hero-header">
            <img class="portfolio-hero-header-logo" src="http://placehold.it/200"/>
            <h1 class="portfolio-hero-header-h1"></h1>
            <ul class="portfolio-hero-header-description">
              <li>Portfolio Example</li>
              <li>Super Clean</li>
              <li>Super Simple</li>
            </ul>
            <ul class="portfolio-hero-header-menu">
              <li><a class="button primary" href="#">Link 1</a></li>
              <li><a class="button primary" href="#">Link 2</a></li>
              <li><a class="button primary" href="#">Link 3</a></li>
            </ul>
          </div> -->


  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header my-groups"> m y g r o u p s    </h2>



<% if (groups.length === 0) { %>
  <h2> You Don't Have Groups Yet </h2>
<% } else { %>



  <% if (successMessage.length > 0) { %>
    <div class="success"> <%= successMessage %> </div>
  <% } %>


<% groups.forEach((oneGroup) => { %>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center group-logo" src="<%= oneGroup.groupPhoto %>" alt="">

           <h3> <a href="/groups/<%= oneGroup._id %>">  <%= oneGroup.groupTitle %>    </a>
             <small>   <%= oneGroup.groupDescription %>  </small>
           </h3>


    </div>
<% }) %>
<% } %>
<hr>
</div>


 <a href="/groups/new">Create a Group</a>  <br><a href="/"> < back </a>


<style>
  body {
    background-color: rgba(43, 53, 70, 0.4);
  }

.my-groups {
  text-shadow: 1px 1px 3px #000000;
}

.group-logo {
  width: 300px;
  /*height: 350px;*/
  /*border: 1px solid none;*/
  /*border-radius: 100%;*/
  /*color:#233452;*/
  /*font-size:11px;*/
  box-shadow: 5px 5px 10px grey;
}

</style>
