
<div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div>
          <div class="portfolio-hero-header">
            <img class="portfolio-hero-header-logo" src="http://placehold.it/200"/>
            <h1 class="portfolio-hero-header-h1"></h1>
            <ul class="portfolio-hero-header-description">
              <li>Portfolio Example</li>
              <li>Super Clean</li>
              <li>Super Simple</li>
            </ul>
            <ul class="portfolio-hero-header-menu">
              <li><a class="button primary" href="#">Link 1</a></li>
              <li><a class="button primary" href="#">Link 2</a></li>
              <li><a class="button primary" href="#">Link 3</a></li>
            </ul>
          </div>






<a href="/groups/new">Create a Group</a>

<% if (groups.length === 0) { %>
  <h2> You Don't Have Groups Yet </h2>
<% } else { %>

  <h2> Your Groups </h2>

  <% if (successMessage.length > 0) { %>
    <div class="success"> <%= successMessage %> </div>
  <% } %>

  <ul class="groupList">
    <% groups.forEach((oneGroup) => { %>
      <li class="groupContent">
        <a href="/groups/<%= oneGroup._id %>"><img class="groupCover" style="width: 50px" src="<%= oneGroup.groupPhoto %>"></a>
        <a href="/groups/<%= oneGroup._id %>"><h3> <%= oneGroup.groupTitle %> </h3></a>
        <!-- <p> <%= oneGroup.content %> </p> -->
      </li>
    <% }) %>
  </ul>
<% } %>
