
<style>
  body {
    background-color: #F2F1EF !important ;
    background: url(../img/transparentApp-logo.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #page-wrapper {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  </style>


<div id="page-wrapper">


  <!-- <div class="row">
      <div class="col-lg-9">
        <div class="col-lg-12"> -->

  <!-- </div>
  <div class="col-lg-3"></div>
  </div>
</div>
</div> -->

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header my-groups">  g r o u p s    </h2>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-12">

                  <% if (groups.length === 0) { %>
                    <h2> You Don't Have Groups Yet </h2>
                  <% } else { %>
                    <% if (successMessage.length > 0) { %>
                        <div class="success"> <%= successMessage %> </div>
                    <% } %>
                    <% groups.forEach((oneGroup) => { %>
                <div class="col-lg-6">
                    <img class="img-circle img-responsive group-logo" src="<%= oneGroup.groupPhoto %>" alt="">
                     <h3> <a href="/groups/<%= oneGroup._id %>">  <%= oneGroup.groupTitle %>    </a>
                      <br> <small>   <%= oneGroup.content %>  </small>
                     </h3>
                   </div>

                 <% }) %>
                 <% } %>
               </div>
            </div>
          </div>
          <a href="/groups/new">Create a Group</a>  <br><a href="/"> < back </a>
      </div>
  </div>





    <!-- <div class="col-lg-4 col-sm-6 text-center"> -->




<style>
  body {
    background-color: rgba(43, 53, 70, 0.4);
  }

.my-groups {
  text-shadow: 1px 1px 3px #000000;
}

.group-logo {
  width: 200px !important;
  height: 250px !important;
  border: 5px solid black;
  /*height: 350px;*/
  /*border: 1px solid none;*/
  /*border-radius: 100%;*/
  /*color:#233452;*/
  /*font-size:11px;*/
  box-shadow: 5px 5px 10px grey;
}

</style>
