

<h1>Task list:</h1>

<% if (groups.tasks.length  === 0) { %>
  <h2> Lucky you. No Tasks and attend to. </h2>
  <small>would you like to be that guy? <a href="/groups/<%= groups._id %>/addtask">add a task</a>  </small>
<% } else { %>
  <% if (successMessage.length > 0) { %>
      <div class="success"> <%= successMessage %> </div>

  <%  groups.tasks.forEach((oneTask) => { %>
      <div class="col-lg-4 col-sm-6 text-center">

      <ul>
        <li><h5> <%= theTask.content %>  </h3>
          <small><%= theTask.dueBy %> </small>
        </li>
      </ul>


            <form method="post" action="/groups/<%= groups._id %>/tasks/groups.tasks._id/delete %>">
              <button type="button" class="btn btn-info" name="delete"> Task Completed </button></form>
            </div>

<% }) %>

<% } %>
